.homeButton {
  width: 253px;
  display: flex;
  align-content: center;
  justify-content: center;

  @media (max-width: 425px) {
    width: 80px;
  }
}

.displayOnMobile {
  display: none;

  @media (max-width: 425px) {
    display: block;
  }
}

.hideOnMobile {
  @media (max-width: 425px) {
    display: none;
  }
}
